attr==0.3.2
brotli==1.1.0
ConfigParser==6.0.0
cryptography==41.0.4
Cython==3.0.2
dl==0.1.0
docutils==0.20.1
Flask==3.0.0
flask_marshmallow==0.15.0
flask_sqlalchemy==3.1.1
HTMLParser==0.0.2
importlib_metadata==6.8.0
ipython==8.16.1
ipywidgets==8.1.1
Jinja2==3.1.2
jnius==1.1.0
keyring==24.2.0
lockfile==0.12.2
lxml==4.9.3
marshmallow_sqlalchemy==0.29.0
numpy==1.26.0
ordereddict==1.1
Pillow==10.0.1
protobuf==4.24.3
pyOpenSSL==23.2.0
railroad==0.5.0
Sphinx==7.2.6
SQLAlchemy==2.0.21
toml==0.10.2
tornado==6.3.3
xmlrpclib==1.0.1
zipp==3.17.0
